* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #0099f7, #f11712);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
    font-weight: 700;
}

form,
header {
    min-height: 15vh;
}


form input,
form button {
    background: #fff;
    border: none;
    font-size: 2rem;
    margin: 10px;
    padding: 0.5rem;
}

form button {
    background: transparent;
    border-radius: 50%;
    color: #0099f7;
    cursor: pointer;
    font-size: 3rem;
    transition: all 0.3s ease;
}

form button:hover {
    color: #fff;
}

.todo-box,
.todo,
form,
header,
.todo-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*CUSTOM SELECTOR */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
    color: #0099f7;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    width: 13rem;
}

.todo-header {
    justify-content: space-around;
}

.del-todo,
.check-todo,
.todo-item {
    background: #fff;
    border: none;
    font-size: 2rem;
    margin: 10px;
    padding: 0.5rem;
}

.del-todo,
.check-todo {
    background: #fff;
    color: #0099f7;
    cursor: pointer;
    transition: all 0.3s ease;
}

.del-todo:hover,
.check-todo:hover {
    background: #0099f7;
    color: #fff;
}

.del-todo:hover {
    background: #f11712;
    color: #fff;
}

.del-todo,
.check-todo,
.todo-item {
    font-size: 1.5rem;
    color: black;
}

.del-todo {
    color: #f11712;
}

.check-todo {
    color: #0099f7;
}


.todo {
    justify-content: none;
    transition: all 0.5s ease-out;
}

.todo li {
    flex: 1;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo-box {
    margin-top: 85px;
}

/* Now we can click on the button wherever we want */
.fa-trash,
.fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

/* Animation for deleting a todo */
.fall {
    transform: translateY(8rem);
    opacity: 0.05;
}

/* Style to filter the todos, all, completed, uncompleted */
.filter-todo {
    padding: 1rem;
    font-size: 1.2rem;
}

/* Custom Select */
.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

/* Arrow */
.select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background: #0099f7;
    cursor: pointer;
    pointer-events: none;
}

.del-todo,
.check-todo,
.todo-item,
.select::after,
select,
form input {
    border-radius: 10px;
}

.date,
.time {
    font-family: 'Nova Square', cursive;
    font-size: 2rem;
    font-weight: 600;
}